div[id='channel-view-container'] {
    height: 100%;
    min-width: 765px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 2 auto;

    background-color: var(--chat-messages-container-bg);
}