/**MESSAGE INPUT */
div[id='chat-messages-input-container'] {
    box-sizing: border-box;
    width: 99%;
    height: 70px;
    min-height: 70px;
    max-height: 70px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;

    padding: 5px 10px;
    overflow: hidden;

    background-color: var(--messages-input-container-bg);
}

form[id='message-input-form'] {
    width: 100%;
}

.message-input {
    width: 100%;
    padding: 7px 10px;

    outline: none;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid none solid solid;

    color: var(--message-input-fg);
    background-color: var(--message-input-bg);
    border-color: var(--message-input-border);
}

button[id='message-input-add-button'] {
    padding: 19px;

    outline: none;
    border-radius: 5px 0px 0px 5px;
    border-width: 2px;
    border-style: solid none solid solid;

    font-size: 1em;
    font-weight: bold;

    
    background-image: url('/images/add.svg');
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(0.5);

    color: var(--message-input-button-fg);
    background-color: var(--message-input-button-bg);
    border-color: var(--message-input-button-border);

    transition: all 0.4s;
}

button[id='message-input-add-button']:hover {
    background-color: var(--message-input-button-hover-bg);
    filter: invert(0);
}

.message-input-button {
    padding: 19px;

    outline: none;
    border-width: 2px;

    font-size: 1em;
    font-weight: bold;
    filter: invert(0.5);
    
    background-repeat: no-repeat;
    background-position: center;
    
    
    color: var(--message-input-button-fg);
    background-color: var(--message-input-button-bg);
    border-color: var(--message-input-button-border);
}

@keyframes clip-flip {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes emoji-bounce {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(2, 2);
    }
}

button[id='message-input-btn1'] {
    border-style: solid none solid none;

    outline: none;
    font-size: 1em;
    font-weight: bold;

    background-image: url('/images/page_icons/attach-file.svg');

    border-color: var(--message-input-button-border);
}

button[id='message-input-btn1']:hover {
    border-style: none;

    animation-name: clip-flip;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

button[id='message-input-btn2'] {
    border-radius: 0px 5px 5px 0px;
    border-style: solid solid solid none;

    
    background-image: url('/images/page_icons/cupcake.svg');
}

button[id='message-input-btn2']:hover {
    background-image: url('/images/page_icons/cupcake-happy.svg');
    border-style: none;

    animation-name: emoji-bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/**END MESSAGE INPUT */