/**LEFT PANE */
div[id='chat-menu-container'] {
    box-sizing: border-box;
    height: 100%;
    min-width: 215px;
    max-width: 215px;
    padding: 5px 0px 5px 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background: var(--chat-menu-container-bg);
    border-style: none solid none none;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
}

div[id='chat-menu-user-info'] {
    width: 100%;
    height: 100px;
    min-height: min-content;
    box-sizing: border-box;
    margin: 5px 0px 5px 0px;
    padding: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}

b[id='chat-menu-username'] {
    margin-top: 0px;
    margin-right: 10px;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;

    color: var(--chat-menu-username-fg);
    text-shadow: 5px 5px 5px black;
}

.chat-menu-current-user-img {
    height: 100px;
    max-width: 95%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 8px black;
}

.chat-menu-current-user-status-img {
    width: min-content;
    r: 6;
    cx: 12;
    cy: 12;

    fill: var(--accent);
}

.chat-menu-user-status {
    height: 20px;
    width: 30px;

    object-position: center;

}

.chat-menu-user-status-img {
    object-position: center;
    width: 80px;
    r: 6;
    cx: 8;
    cy: 10;

    
}

@keyframes status-anim {
    from {
        fill: var(--chat-menu-user-online);
    }

    to {
        fill: var(--accent-two);
    }
}
.chat-menu-user-status-img.online {
    fill: var(--chat-menu-user-online);

    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 0.75;
}

.chat-menu-user-status-img.offline {
    fill: var(--chat-menu-user-offline);

    stroke: black;
    stroke-width: 3px;
    stroke-opacity: 0.75;
}

.chat-menu-user-status-img.none {
    fill-opacity: 0;
}



#all-menu-categories {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0px;

    /*
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 100%;
    */
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--chat-menu-container-bg);
}

.category-container-layout {
    height: 50px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    color: var(--chat-menu-category-fg);    
}

.category-container-layout.selected {
    width: 100%;
    height: max-content;
    box-sizing: border-box;

    /*
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;
    */

    margin: 1px 0px;

    color: var(--chat-menu-category-selected-fg);   
}


.category-header-layout{
    width: inherit;
    height: max-content;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 1px 0px;
    
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--ten);
}

.category-header {
    font-size: 1.1em;
    transition: all 0.5s;
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;

    margin-left: auto;
    margin-right: auto;
}

.category-header:hover {
    color: var(--nine);
}

#add_category {
    width: 30px;
    filter: invert(0.5);

    transition: all 0.4s;
}

#add_category:hover {
    filter: invert(1);
}

@keyframes menu-grow-in {
    from {
        transform: scale(1, 0.2);
        /*height: 5%;*/
    }

    to {
        transform: scale(1, 1);
        /*height: 100%;*/
    }
}

@keyframes menu-fade-in {
    from {
        margin-right: -40em;
        opacity: 0;
    }

    to {
        margin-right: 0px;
        opacity: 1;
    }
}

.menu-list {
    height: max-content;
    width: 95%;
    padding: 5px 0px;
    
    background: inherit;

    animation-name: menu-fade-in;
    animation-duration: 1s;
}


.menu-list-item {
    margin: 10px auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;

    text-align: left;
    list-style-type: none;
}

.menu-list-item:hover {
    background-color: var(--chat-menu-list-bg);
}

.display-category-menu {
    box-sizing: border-box;
    padding: 5px 0px 5px 5px;

    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 75%;
    

    color: var(--chat-menu-users-fg);
}

.chat-menu-user-img {
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.85);
}

.remove-category-container {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 5px 0px 5px 0px;    

    

    transition: all 0.3s;
}

.remove-category-container:hover {

}

.remove-svg-container {
    /*
    */
    width: min-content;
    height: inherit;

    object-position: right;
}

@keyframes remove-icon-anim {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
.remove-svg-icon {
    x: 14px;
    y: 7px;

    rx: 15px;
    ry: 15px;

    width: 14px;
    height: 14px;
    background-position: center;

    fill: var(--nine);
    stroke: var(--nine);
    stroke-opacity: 0.4;
    stroke-width: 2px;

    transform-origin: center;

    transition: all 0.4s;
}

@keyframes remove-svg-icon-anim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

.remove-svg-icon:hover {
    x: 14px;
    y: 7px;

    

    rx: 0px;
    ry: 0px;

    fill: transparent;
    stroke: red;
    stroke-width: 8px;

    animation-name: remove-svg-icon-anim;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/*
object-position: center;
    width: 80px;
    r: 5;
    cx: 10;
    cy: 10;

.remove-category-img {
    height: 17px;
    padding-right: 5px;

    filter: invert(.5) sepia(1) saturate(100);   

}
*/
