@keyframes message-enter {
    0% {
        opacity: 0;
        margin-left: -200px;   
        transform: skewX(-30deg);         
    }

    70% {
        margin-left: 0px;
        opacity: 1;
        transform: skewX(-30deg);                 
    }

    100% {
        
    }
}

@keyframes message-enter-current-user {
    0% {
        opacity: 0;
        margin-left: 200px;   
        transform: skewX(30deg);         
    }

    70% {
        margin-left: 0px;
        opacity: 1;
        transform: skewX(30deg);                 
    }

    100% {
        
    }
}

.new-message-items {
    box-sizing: border-box;
    width: 100%;
    min-height: max-content;
    margin: 10px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 auto;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-name: message-enter;

    background: inherit;
}
    .new-message-items.new-current-user {
        align-items: flex-end;

        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-name: message-enter-current-user;
    }   

.new-message-item {
    box-sizing: border-box;
    min-height: max-content;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0px 5px;
}
    .new-message-item.new-current-user {
        
    }

.new-user-msg-text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
    .new-user-msg-text-container.new-current-user {
        align-items: flex-end;
    }

.new-user-msg-text {
    box-sizing: border-box;
    margin-left: 5px;
    min-width: 100px;
    max-width: 65%;
    min-height: max-content;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    
    padding: 5px 15px;
    border-radius: 10px 10px 10px 2px;
    
    background: var(--chat-msg-text-bg);
    box-shadow: -2px 2px 5px black;
}
    .new-user-msg-text.new-current-user {
        align-items: flex-start;
        margin-right: 5px;
        border-radius: 10px 10px 2px 10px;

        background: var(--chat-current-msg-text-bg);
        box-shadow: 2px 2px 5px black;
    }

.new-user-msg-text-spacer {
    height: 72px;
    width: 100%;
}
    .new-user-msg-text-spacer.new-current-user {

    }

.new-item-timestamp-current {  
    font-style: italic;  
    font-size: 0.7em;  
    color: var(--chat-timestamp-fg);        
}
    .new-item-timestamp-current.new-current-user {
        color: var(--chat-timestamp-current-user-fg);
    }

.new-item-msg {
    word-break: break-all;

    color: var(--chat-msg-text-fg);
}
    .new-item-msg.new-current-user {
        color: var(--chat-current-msg-text-fg);
    }


.new-user-img-container {
    align-self: flex-end;
    
    box-sizing: border-box;
    max-width: max-content;
    height: 100%;


    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
    .new-user-img-container.new-current-user {

    }

.new-item-username-img {
    max-height: 50px;
    max-width: 120px;
    border-radius: 10px;   
    background: rgba(255, 255, 255, 0.9);        
    box-shadow: 0px 1px 6px black; 
}

.new-item-username {
    font-weight: bold;    
    color: var(--chat-current-username-fg);
    text-shadow: 1px 1px 0px black;
}


