div[id='chat-messages-container'] {
    height: 100%;
    min-width: 765px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 5 auto;

    background-color: var(--chat-messages-container-bg);
}