@keyframes message-enter {
    from {
        margin-top: -100px;
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.message-items {
    display: block;
    width: 100%;
    height: inherit;
    
    list-style-type: none;
    
    margin: 0.5em;    
    padding: 5px 10px;
    border-radius: 5px;

    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-name: message-enter;
}

.message-items-current-user {
    /*
    float: right;
    align-self: flex-end;
    
    background-color: green; 
    */    
}

.message-item {
    width: max-content;
    max-width: 65%;
    height: inherit;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;    
}    

.message-item-current-user {
    margin-left: auto;
}

.user-img-container {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.item-username-img {
    height: 60px;
    margin: 2px 10px 2px 10px;
    
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);    
}

.user-msg-text {
    box-sizing: border-box;
    height: max-content;
    width: max-content;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1 auto;

    padding: 10px 15px;
    border-radius: 5px;

    background: var(--chat-msg-text-bg);
}

.item-timestamp {
    margin-right: 15px;
    font-size: 0.85em;
    
    color: var(--chat-timestamp-fg);
}

.item-timestamp-current {
    font-size: 0.85em;
    font-style: italic;
    /*color: var(--ten);*/
    color: var(--chat-timestamp-fg);    
}

.item-username {
    margin-right: 8px;    
    font-weight: bold;
    
    color: var(--chat-username-fg);
}

.item-msg {
    margin-top: 5px;
    text-indent: 1em;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--chat-msg-text-fg);
}

