
div[id='chat-messages-list-pane'] {
    width: 100%;
    height: inherit;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 auto;

    overflow: hidden;

    background-color: var(--chat-messages-list-pane-bg);
} 

ul[id='chat-messages-list'] {
    width: inherit;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 5px;
}



