/**MESSAGE INPUT */
div[id='chat-messages-input-container'] {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    max-height: 70px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;

    padding: 5px 10px;
    overflow: hidden;

    background-color: var(--messages-input-container-bg);
}

form[id='message-input-form'] {
    width: 100%;
}

.message-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;

    outline: none;
    border-radius: 0px;
    border-width: 0px;
    border-style: none;

    color: var(--message-input-fg);
}

#chat-message-inputfield {
    border-width: 1px;
    padding: 5px 20px;
    border-style: none none solid none;
        
    background-color: var(--message-input-bg);
    border-color: var(--message-input-border);
}

button[id='message-input-add-button'] {
    margin-right: 10px;
    padding: 19px 19px 0px 19px;

    outline: none;
    border-style: none;

    font-size: 1em;
    font-weight: bold;
    
    
    background-image: url('/images/page_icons/add.svg');
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(0.5);

    color: var(--message-input-button-fg);
    background-color: var(--message-input-button-bg);
    border-color: var(--message-input-button-border);

    transform: scale(1.5, 1.5);
    transition: all 0.4s;
}

button[id='message-input-add-button']:hover {
    color: var(--message-input-button-hover-bg);
    filter: invert(1);
}

.message-input-button {
    padding: 19px;

    outline: none;
    border-style: none;
    

    font-size: 1em;
    font-weight: bold;
    filter: invert(0.5);
    
    background-repeat: no-repeat;
    background-position: center;
    
    
    color: var(--message-input-button-fg);
    background-color: var(--message-input-button-bg);
    border-color: var(--message-input-button-border);

    transform: scale(1.15, 1.15);
}

@keyframes clip-flip {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes emoji-bounce {
    from {
        transform: scale(1.15, 1.15);
    }

    to {
        transform: scale(2, 2);
    }
}

button[id='message-input-btn1'] {
    outline: none;

    background-image: url('/images/page_icons/attach-file.svg');
    border-color: var(--message-input-button-border);
}

button[id='message-input-btn1']:hover {
    animation-name: clip-flip;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

button[id='message-input-btn2'] {
    background-image: url('/images/page_icons/cupcake.svg');
}

button[id='message-input-btn2']:hover {
    background-image: url('/images/page_icons/cupcake-happy.svg');

    animation-name: emoji-bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/**END MESSAGE INPUT */