
div[id='chat-messages-list-pane'] {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 auto;

    overflow: hidden;

    background-color: var(--chat-messages-list-pane-bg);
} 

ul[id='chat-messages-list'] {
    box-sizing: border-box;
    width: inherit;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 0px;
    margin: 0px;

}



