div[id='chat-container'] {
    width: inherit;
    height: inherit;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 10 auto;

    overflow: hidden;

    background-color: var(--chat-container-bg);
}