.snapshot-item-container {
    box-sizing: border-box;  
    width: 100%;
    min-height: 110px;
    max-height: 110px;

    margin: 5px;
    padding: 5px 10px;
    list-style-type: none;
    overflow: hidden;

    border-radius: 10px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    background: #292C2E; /**titlebar bg */
}

/**snapshot image data setup */
.snapshot-user-data {
    box-sizing: border-box;
    max-height: max-content;
    padding: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.snapshot-user-img {
    max-width: 70px;
    max-height: 70px;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.9);            
    box-shadow: -1px 1px 5px black;
}

.snapshot-username {
    font-size: 0.85em;
    font-weight: bold;
    opacity: 0.85;
    color: var(--ten);
}
/**END snapshot image data setup */


/**snapshot message setup */
.snapshot-msg-data {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    max-height: inherit;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    padding: 5px 2px;
    overflow: hidden;

    background: inherit;
}

.snapshot-msg {

    box-sizing: border-box;
    max-width: 100%;
    height: max-content;
    max-height: 100%;

    padding: 5px;
    border-radius: 5px;
   
    overflow: hidden;
    background: #3B3F42;
    color: var(--ten); 
}

.snapshot-msg-text {
    font-size: 0.9em;
    text-overflow: ellipsis;
}

.snapshot-timestamp {
    width: max-content;
    height: max-content;
    margin: 5px 0px 0px 0px;

    font-style: italic;
    font-size: 0.7em;
    font-weight: bold;
    opacity: 0.9;

    background: inherit;
    color: var(--ten);
}

/**END snapshot message setup */

.snapshot-expand-icon {
    box-sizing: border-box;
    filter: invert(.5);

    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 5;

    max-height: 25px;
    max-width: 25px;
    padding: 2px;
    transition: transform 0.35s;
}

.snapshot-expand-icon:hover {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);    

    transform: scale(1.7, 1.5);
}

