@keyframes verify-spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(720deg);
    }
}

@keyframes verify-scale {
    from {
        transform: scale(2.5, 0.5);
        opacity: 0.1;
    }

    to {
        transform: scale(5.5, 5.5);
        opacity: 1;
    }
}

@keyframes verify-color-gradient {
    from {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(150deg);
    }

    to {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(210deg);
    }
}

.verify-login-container {
    width: inherit;
    height: inherit;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 10 auto;
    
    color: var(--verify-login-fg);
    background-color: var(--verify-login-bg);
}

h3[id='verify-login-header'] {
    margin-top: 75px;
    font-style: normal;    
    font-variant-caps: titling-caps;
    font-weight: bold;
}

img[id='verify-login-animation'] {
    width: 120px;
    height: 120px;
    position: fixed;
    box-sizing: border-box;
    align-self: center;
    
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(75deg);
    border-style: none;
    outline: none;

    animation-name: verify-color-gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    /*
    animation-name: verify-scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
*/

    /*filter: invert(0.5) sepia(1) saturate(5) hue-rotate(150deg);*/

    /*
    animation-name: verify-spin;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    */
}