div[id='landing-page-container'] {
    width: inherit;
    height: 95%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex: 1 auto;

    overflow: hidden;

    background-color: red;
}

.landing-page-section-container {
    width: 50%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    flex: 1 auto;

    transition: all 1s ease;
}

.landing-page-section-container:hover {
    width: 70%;
}

div[id='landing-page-sign-in-container'] {
    color: var(--landing-sign-in-fg);
    background: var(--landing-sign-in-bg);
}

div[id='landing-page-sign-up-container'] {
    color: var(--landing-sign-up-fg);
    background: var(--landing-sign-up-bg);
}

.landing-page-user-img {
    filter: invert(1);
}

.landing-page-selection-header {
    font-size: 1.5em;
    font-weight: bold;
}