.login-pane-container {
    width: inherit;
    height: inherit;
    max-height: 93%;
    /*height: inherit;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;
    
    background-color: var(--login-pane-container-bg);
}

/**INPUTFIELD SETUP*/
.login-pane {
    -webkit-app-region: no-drag;
    width: 85%;
    height: 80%;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    background-color: var(--login-pane-bg);
}

/*displays header message*/
.login-pane-header {
    text-align: center;
}

h5[id='login-header'] {
    font-size: 1.5em;

    color: var(--login-header-fg);
}

p[id='login-header-info'] {
    font-size: 0.85em;
    font-style: italic;

    color: var(--login-header-info-fg);
}
/*end header message setup*/

.login-display {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;

    border-style: none none solid none;
    border-width: 1px;

    text-align: center;
    background-color: var(--login-display-bg);

    transition: all 0.5s;
}

.login-inputfield-icon {
    float: left;
    width: auto;
    
    padding: 2px 3px;
    
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;

    color: var(--login-icon-fg);
    background-color: var(--login-icon-bg);
}

.login-inputfield {
    width: inherit;
    
    outline: none;
    border-style: none;
    padding: 2px 3px;  
    
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;

    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;

    color: var(--login-inputfield-fg);
    background-color: var(--login-inputfield-bg);

    transition: all 0.5s;
}

.login-inputfield:focus {
    color: var(--login-inputfield-hover-fg);
    background-color: var(--login-inputfield-hover-bg);
}

input[id='emailInput'] {
    background-image: url('./images/email_black.png');
}

input[id='emailInput']:focus {
    background-image: url('./images/email_white.png');
}

input[id='usernameInput'] {
    background-image: url('./images/person_black.png');
}

input[id='usernameInput']:focus {
    background-image: url('./images/person_white.png');
}

input[id='passwordInput'] {
    background-image: url('./images/lock_black.png');
}

input[id='passwordInput']:focus {
    background-image: url('./images/lock_white.png');
}

input[id='confirmPasswordInput'] {
    background-image: url('./images/lock_black.png');
}

input[id='confirmPasswordInput']:focus {
    background-image: url('./images/lock_white.png');
}

button[id='loginButton'] {
    align-self: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;

    outline: none;
    padding: 2px 15px;
    margin: 5px;

    border-style: none;
    border-radius: 6px;

    color: var(--login-button-fg);
    background-color: var(--login-button-bg);
    box-shadow: 1px 2px 5px var(--login-button-border);

    transition: all 0.4s;
}

button[id='loginButton']:hover {
    color: var(--login-button-hover-fg);
    background-color: var(--login-button-hover-bg);
}

button[id='loginButton']:focus {
    color: var(--login-button-hover-fg);
    background-color: var(--login-button-hover-bg);
}

/*END INPUTFIELD SETUP*/

/**TITLEBAR SETUP */
/*
.titlebar-container {
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    border-style: none none solid none;
    border-width: 1px;

    font-weight: bold;
    padding: 5px;
    margin-top: 4px;

    background-color: var(--titlebar-bg);
    border-color: var(--titlebar-border);
}

img[id='titlebar-menu-icon'] {
    -webkit-app-region: no-drag;
}

img[id='close-app'] {
    -webkit-app-region: no-drag;
    margin-left: auto;

    filter: invert(1);

    transition: transform 0.4s;
}

img[id='close-app']:hover {
    filter: invert(.5) sepia(1) saturate(100) hue-rotate(335deg);
    transform: rotateZ(180deg);
}
*/
/**END TITLEBAR SETUP*/