@keyframes sign-up-fade {
    from {
        width: 70%;
    }

    to {
        width: 100%;
    }
}

@keyframes password-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div[id='_sign-up-container'] {
    width: inherit;
    height: 94%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1 auto;

    background: var(--landing-sign-up-bg);

    animation-name: sign-up-fade;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}

img[id='navigate-back-img'] {
    align-self: flex-start;
    width: 55px;
    padding-top: 2%;
    filter: invert(1);    

    transition: all 0.4s;
}

img[id='navigate-back-img']:hover { 
    filter: invert(0);
}

div[id='_sign-up-pane'] {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 15 auto;

    color: var(--landing-sign-up-fg);
    background: var(--landing-sign-up-bg);
}

.sign-up-input-form {
    width: 40%;
}

.sign-up-input {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    outline: none;

    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    text-align: center;

    text-align: center;
    border-style: none none solid none;
    border-width: 1px;

    color: white;
    background-color: inherit;
    border-color: black;
}

input[id='sign-up-email'] {
    background-image: url('/images/page_icons/email-white.svg');
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}

input[id='sign-up-username'] {
    background-image: url('/images/page_icons/user-36.svg');
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}

input[id='sign-up-password'] {
    background-image: url('/images/page_icons/lock-white.svg');
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}

input[id='sign-up-confirm-password'] {
    background-image: url('/images/page_icons/lock-white.svg');
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;

    animation-name: password-fade-in;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

button[id='sign-up-connect'] {
    margin-top: 15px;
    padding: 6px 12px;
    width: 130px; 

    outline: none;
    border-style: solid;
    border-width: 1px;

    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;

    color: white;
    background: var(--landing-sign-up-button-bg);
    border-color: white; 

    transition: all 0.75s;
}

button[id='sign-up-connect']:focus {
    color: var(--landing-sign-in-button-focus-fg);
    background: var(--landing-sign-in-button-focus-bg);
    border-color: var(--nine);
}

button[id='sign-up-connect']:hover {
    color: var(--landing-sign-in-button-focus-bg);
    background-color: var(--landing-sign-in-button-focus-fg);
    border-color: var(--nine);
}


div[id='_sign-in-pane'] {
    height: 100%;
    padding-top: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;

    background: var(--landing-sign-in-bg);
    transition: all 0.7s ease;
}

div[id='_sign-in-pane']:hover {
    flex: 1.5 auto;
}

img[id='_sign-in-pane-img'] {
    width: 60px;
    filter: invert(1);
}

