:root {
    --accent: #21D47E;
    --accent-transparent: rgba(33, 212, 126, 0.65);
    --accent-dark-transparent: rgba(33, 212, 126, 0.5);
    --accent-two-transparent: rgba(255, 0, 0, 68);  


    --main-light-transparent: rgba(255, 255, 255, 0.7);
    --main-transparent: rgba(100, 100, 100, 0.5);
    --main-dark-transparent: rgba(37, 37, 37, 0.4);
    --main-darker-transparent: rgba(0, 0, 0, 0.6);


    --main-dark: #252525;
    --main-darker: #1E1E1E;
    
    --white-transparent: rgba(255, 255, 255, 0.85);

    --dark-transparent: rgba(0, 0, 0, 0.4);
    --darkest-transparent: rgba(0, 0, 0, 0.8);

    --info-gradient-dark: #11171B;
    --info-gradient-light: #3B3F42;


    /*TITLEBAR SETUP*/
    --titlebar-bg: var(--main-dark);
    --titlebar-border: var(--main-darker-transparent);

    --titlebar-icon-bg: inherit;
    --titlebar-icon-fg: var(--accent-two-transparent);
    --titlebar-icon-hover-fg: var(--accent-transparent);

    /*MAIN DISPLAY SETUP*/
    --login-pane-container-bg: var(--main-dark);
    
    --login-pane-bg: var(--main-light-transparent);

    --login-header-fg: var(--main-dark);
    --login-header-info-fg: var(--main-dark-transparent);

    --login-inputfield-bg: var(--main-dark);
    --login-inputfield-fg: var(--accent);
    --login-inputfield-border: var(--main-dark);
    --login-inputfield-hover-bg: var(--main-dark-transparent);
    --login-inputfield-hover-fg: inherit;

    --login-icon-bg: var(--main-dark);
    --login-icon-fg: var(--main-light-transparent);

    --login-button-bg: var(--accent-two-transparent);
    --login-button-fg: var(--main-darker);
    --login-button-border: var(--main-darker);
    --login-button-hover-bg: var(--accent);
    --login-button-hover-fg: var(--main-darker);
    --login-button-hover-border: var(--accent-transparent);
    
}