:root {
    
    --accent: #69F0AE; 
    --accent-two: #70BCED; 
    --main: #3B3F42;
    --second: #5f605d;
    --third: #383838;
    --fourth: #828281;

    --slate-gradient-transparent: rgba(59, 63, 66, 0.7);

    --slate-gradient: linear-gradient(45deg, #3B3F42, #383838);
    --accent-gradient: var(--accent);

    --landing-sign-in-bg: var(--accent);
    --landing-sign-in-fg: var(--slate-gradient);
    --landing-sign-in-input-bg: var(--slate-gradient-transparent);
    --landing-sign-in-input-fg: var(--main);
    --landing-sign-in-input-border: var(--main);

    --landing-sign-up-bg: var(--slate-gradient);
    --landing-sign-up-fg: white;

    --landing-sign-up-button-bg: inherit;
    --landing-sign-up-button-fg: white;
    --landing-sign-up-button-border: white;
    --landing-sign-up-button-focus-bg: var(--accent);
    --landing-sign-up-button-focus-fg: var(--main);
    --landing-sign-up-button-focus-border: black;

    --landing-sign-up-input-bg: var(--slate-gradient-transparent);
    --landing-sign-up-input-fg: var(--main);
    --landing-sign-up-input-border: var(--main);

        /*blue 300*/
        /*--blue-filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);*/
    
        --accent-blue-gradient: linear-gradient(45deg, rgba(25, 118, 210, 0.5), rgba(25, 118, 210, 0.25) );
        --accent-green-gradient: linear-gradient(45deg, rgba(33, 212, 126, 0.5), rgba(33, 212, 126, 0.25) );
    
       /* --accent: #1976D2;*/
        --accent-transparent: rgba(25, 118, 210, 0.65);
        --accent-dark-transparent: rgba(25, 118, 210, 0.5);
        --accent-darker-transparent: rgba(25, 118, 210, 0.25);
    
        --main-accent-gradient: linear-gradient(45deg, var(--accent-dark-transparent), var(--accent) );
        --main-dark-accent-gradient: linear-gradient(45deg, var(--main-darkest-transparent), var(--main-dark-transparent) );
    
        --main-light-transparent: rgba(255, 255, 255, 0.7);
        --main-transparent: rgba(100, 100, 100, 0.5);
        --main-dark-transparent: rgba(37, 37, 37, 0.4);
        --main-darker-transparent: rgba(0, 0, 0, 0.6);
        --main-darkest-transparent: rgba(50, 50, 50, 0.7);
    
    
        --main-dark: #2A2A2A;
        --main-darker: #1E1E1E;
        
        --white-transparent: rgba(244, 244, 244, 0.85);
    
        --dark-transparent: rgba(0, 0, 0, 0.4);
        --darkest-transparent: rgba(0, 0, 0, 0.8);
    
        --info-gradient-dark: #11171B;
        --info-gradient-light: #3B3F42;
    
    
        /*SCROLLBAR SETUP*/
        --scrollbar-track-bg: inherit;
        --scrollbar-thumb-bg: var(--white-transparent);
        /*END SCROLLBAR SETUP*/
        
        /*SETTINGS.JS SETUP*/
        --settings-bg: var(--darkest-transparent);
    
        --settings-menu-container-bg: var(--accent-transparent);
    
        --settings-submenu-bg: var(--main-dark-transparent);
        --settings-submenu-fg: var(--white-transparent);
    
        --settings-blue-color-theme-bg: var(--accent-blue-gradient);
        --settings-blue-color-theme-fg: var(--main-dark);
        --settings-blue-color-theme-border: var(--main-dark);
    
        --settings-green-color-theme-bg: var(--accent-green-gradient);
        --settings-green-color-theme-fg: var(--main-dark);
        --settings-green-color-theme-border: var(--main-dark);
    
        /*END SETTINGS.JS SETUP*/
    
        /*TITLEBAR SETUP*/
        --titlebar-bg: var(--slate-gradient-transparent);
        --titlebar-border: var(--main-transparent);
    
        --titlebar-appname-bg: inherit;
        --titlebar-appname-fg: var(--main-light-transparent);
    
        --titlebar-icon-bg: inherit;
        --titlebar-icon-fg: var(--main-light-transparent);
        --titlebar-icon-hover-fg: var(--accent-transparent);
        --titlebar-exit-hover-fg: var(--accent-two-transparent);
        /*END TITLEBAR SETUP*/
    
        /*CHAT.JS SETUP*/
        --chat-pane-container-bg: var(--main-dark);
    
        --display-titlebar-container-bg: var(--main-darker);
    
        --display-users-container-bg: var(--main-darker);
    
        --display-user-list-container-bg: inherit;
        --display-user-listgroup-bg: var(--main-dark-accent-gradient);
        
        --displayed-user-bg: inherit;
        --displayed-user-fg: var(--white-transparent);
        --displayed-user-border: var(--white-transparent);
        --displayed-user-hover-fg: var(--accent);
    
        --display-users-input-bg: inherit;
        --display-users-input-fg: var(--white-transparent);
        --display-users-input-border: var(--white-transparent);
        /*END CHAT.JS SETUP*/
    
        /*CHAT-MESSAGE-PANE.JS*/
        --chat-message-pane-container-bg: var(--main-accent-gradient);
        
        --chat-message-list-container-fg: var(--white-transparent);
        --chat-message-list-container-bg: inherit;
    
        --chat-message-list-bg: var(--main-darkest-transparent);
        --chat-message-item-bg: inherit;
        --chat-message-item-fg: var(--white-transparent);
        --chat-message-item-border: var(--main-transparent);
    
        --display-message-input-container-bg: var(--main-darkest-transparent);
        --display-message-input-fg: var(--white-transparent);
        --display-message-input-bg: var(--main-darkest-transparent);
        --display-message-input-border: var(--white-transparent);
        /*END CHAT-MESSAGE-PANE.JS*/
        
    
        /*MAIN LOGIN.JS DISPLAY SETUP*/
        --login-pane-container-bg: var(--main-dark);
        
        --login-pane-bg: var(--white-transparent);
    
        --login-header-fg: var(--main-dark);
        --login-header-info-fg: var(--main-dark-transparent);
        
        --login-display-bg: inherit;
        --login-display-focus-bg: var(--main-dark);
    
        --login-inputfield-bg: inherit;
        --login-inputfield-fg: var(--main-dark);
        --login-inputfield-border: var(--main-dark);
        --login-inputfield-hover-bg: var(--main-dark);
        --login-inputfield-hover-fg: var(--white-transparent);  
    
        --login-icon-bg: var(--main-dark);
        --login-icon-fg: var(--main-light-transparent);
    
        --login-button-bg: var(--accent-two-transparent);
        --login-button-fg: var(--main-darker);
        --login-button-border: var(--main-darker);
        --login-button-hover-bg: var(--accent);
        --login-button-hover-fg: var(--main-darker);
        --login-button-hover-border: var(--accent-transparent);
        /*END  LOGIN.JS DISPLAY SETUP*/
}