:root {

    --accent: #21D47E;
    --accent-transparent: rgba(33, 212, 126, 0.65);
    --accent-compliment-transparent: rgba(255, 0, 0, 0.35);    
    --accent-compliment:  #EE2569;

    --main-dark: #1E1E1E;
    --white-transparent: rgba(255, 255, 255, 0.85);
    --dark-transparent: rgba(0, 0, 0, 0.4);
    --darkest-transparent: rgba(0, 0, 0, 0.8);

    --info-gradient-dark: #11171B;
    --info-gradient-light: #3B3F42;

    /*
    --login-gradient-dark: #21D47E;
    --login-gradient-light: #69F0AF;
    */
    --login-gradient-darkest: #030202;
    --login-gradient-dark: #252525;
    --login-gradient-light: #252525;
    --login-gradient-accent: #21D47E;
    /*
    --login-gradient-light:#F25D59;#252525;
*/    
    
    --transparent-light: rgba(255, 255, 255, 0.1);
    --transparent-dark: rgba(0, 0, 0, 0.4);
    --transparent-darker: rgba(0, 0, 0, 0.8);

    --titlebar-bg: var(--main-dark);
    --titlebar-border: var(--transparent-light);

    --titlebar-icon-fg: var(--accent-compliment-transparent);
    --titlebar-icon-hover-fg: var(--accent-transparent);

    --main-info-fg: black;
    --secondary-info-fg: rgba(0, 0, 0, 0.7);
    --secondary-info-light-fg: rgba(105, 240, 175, 0.8);

     /**INFO PANE */
     --info-pane-bg: linear-gradient( 45deg, var(--info-gradient-dark), var(--info-gradient-light) );

     /**END INFO PANE */


    /**LOGIN PANE */
    --login-container-pane-bg: linear-gradient( 45deg, var(--login-gradient-dark), var(--login-gradient-light) );

    --login-pane-bg: inherit;
    
    --login-area-bg: var(--white-transparent);

    --login-input-bg: var(--darkest-transparent);
    --login-input-fg: var(--secondary-info-fg);
    --login-input-border: var(--transparent-darker);
    --login-input-hover-bg: var(--accent-transparent);

    --login-submit-bg: var(--transparent-light);
    --login-submit-fg: white;
    --login-submit-border: var(--transparent-darkest);
    --login-submit-hover-bg: var(--transparent-darker);
    --login-submit-hover-fg: var(--secondary-info-light-fg);
    --login-submit-hover-border: var(--transparent-dark);
    /**END LOGIN PANE */

   
    
}