:root {
    --accent: #21D47E;
    --accent-transparent: rgba(33, 212, 126, 0.65);
    --accent-dark-transparent: rgba(33, 212, 126, 0.5);
    --accent-two-transparent: rgba(203, 67, 70, 0.9);  

    --main-accent-gradient:  linear-gradient(45deg, var(--accent-dark-transparent), var(--accent) );

    --main-light-transparent: rgba(255, 255, 255, 0.7);
    --main-transparent: rgba(100, 100, 100, 0.5);
    --main-dark-transparent: rgba(37, 37, 37, 0.4);
    --main-darker-transparent: rgba(0, 0, 0, 0.6);
    --main-darkest-transparent: rgba(50, 50, 50, 0.7);


    --main-dark: #2A2A2A;
    --main-darker: #1E1E1E;
    
    --white-transparent: rgba(244, 244, 244, 0.85);

    --dark-transparent: rgba(0, 0, 0, 0.4);
    --darkest-transparent: rgba(0, 0, 0, 0.8);

    --info-gradient-dark: #11171B;
    --info-gradient-light: #3B3F42;


    /*SCROLLBAR SETUP*/
    --scrollbar-track-bg: var(--main-darker);
    --scrollbar-thumb-bg: var(--main-transparent);
    /*END SCROLLBAR SETUP*/
    


    /*TITLEBAR SETUP*/
    --titlebar-bg: var(--main-dark);
    --titlebar-border: var(--main-transparent);

    --titlebar-appname-bg: inherit;
    --titlebar-appname-fg: var(--main-light-transparent);

    --titlebar-icon-bg: inherit;
    --titlebar-icon-fg: var(--main-light-transparent);
    --titlebar-icon-hover-fg: var(--accent-transparent);
    --titlebar-exit-hover-fg: var(--accent-two-transparent);
    /*END TITLEBAR SETUP*/

    /*CHAT.JS SETUP*/
    --chat-pane-container-bg: var(--main-dark);

    --display-titlebar-container-bg: var(--main-darker);

    --display-users-container-bg: var(--main-darker);

    --display-user-list-container-bg: inherit;
    --display-user-listgroup-bg: var(--main-dark);
    
    --displayed-user-bg: inherit;
    --displayed-user-fg: var(--white-transparent);
    --displayed-user-border: var(--white-transparent);
    --displayed-user-hover-fg: var(--accent);

    --display-users-input-bg: inherit;
    --display-users-input-fg: var(--white-transparent);
    --display-users-input-border: var(--white-transparent);
    /*END CHAT.JS SETUP*/

    /*CHAT-MESSAGE-PANE.JS*/
    --chat-message-pane-container-bg: var(--main-accent-gradient);
    
    --chat-message-list-container-fg: var(--white-transparent);
    --chat-message-list-container-bg: inherit;

    --chat-message-list-bg: var(--main-darkest-transparent);
    --chat-message-item-bg: inherit;
    --chat-message-item-fg: var(--white-transparent);
    --chat-message-item-border: var(--main-transparent);

    --display-message-input-container-bg: var(--main-darker-transparent);
    --display-message-input-fg: var(--white-transparent);
    --display-message-input-bg: var(--main-dark-transparent);
    --display-message-input-border: var(--white-transparent);
    /*END CHAT-MESSAGE-PANE.JS*/
    

    /*MAIN LOGIN.JS DISPLAY SETUP*/
    --login-pane-container-bg: var(--main-dark);
    
    --login-pane-bg: var(--white-transparent);

    --login-header-fg: var(--main-dark);
    --login-header-info-fg: var(--main-dark-transparent);

    --login-inputfield-bg: var(--main-dark);
    --login-inputfield-fg: var(--white-transparent);
    --login-inputfield-border: var(--main-dark);
    --login-inputfield-hover-bg: var(--main-dark-transparent);
    --login-inputfield-hover-fg: inherit;

    --login-icon-bg: var(--main-dark);
    --login-icon-fg: var(--main-light-transparent);

    --login-button-bg: var(--accent-two-transparent);
    --login-button-fg: var(--main-darker);
    --login-button-border: var(--main-darker);
    --login-button-hover-bg: var(--accent);
    --login-button-hover-fg: var(--main-darker);
    --login-button-hover-border: var(--accent-transparent);
    /*END  LOGIN.JS DISPLAY SETUP*/
    
}