@keyframes settings-in {
    from {
        margin-top: 100%;
        opacity: 0;
    }

    to {
        margin-top: 35px;
        opacity: 1;
    }
}

@keyframes submenu-in {
    from {
        margin-left: -100%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

div[id='settings-wrapper'] {
    box-sizing: border-box;

    width: inherit;
    height: inherit;
    margin-top: 35px;

    position: fixed;
    z-index: 100;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    flex: 1 auto;
    
    overflow: hidden;

    background: var(--settings-bg);

    animation-name: settings-in;
    animation-duration: 0.5s;
}

div[id='settings-menu-container'] {
    height: 100%;
    width: 15%;
    max-width: 80px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background: var(--settings-menu-container-bg);
}

.settings-menu-item {
    margin: 50% auto;
    transition: all 0.4s;
}

.settings-menu-item:hover {
    filter: invert(1);
}

.settings-submenu {
    height: inherit;
    width: auto;

    background: var(--settings-submenu-bg);

    animation-name: submenu-in;
    animation-duration: 0.5s;
} 

.typing-notification-submenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}


.settings-submenu-description {
    text-align: center;
    color: var(--settings-submenu-fg);
}

/*COLOR THEME SUBMENU SETUP*/
.color-theme-submenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;
    
    overflow-y: auto;
}

.settings-submenu-color-theme {
    width: 45%;
    max-width: 400px;
    
    margin: 10px;
    padding: 0.75em;
    
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 2px;
    
    text-align: center;
    border-radius: 10px;
}

/*END COLOR THEME SUBMENU SETUP*/

