@keyframes settings-in {
    from {
        margin-top: -100%;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
@keyframes submenu-in {
    from {
        margin-left: -100%;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
*/


@keyframes submenu-in {
    from {
        opacity: 0;
        margin-top: 100%;
    }

    to {
        opacity: 1;
        margin-top: 0%;
    }
}


div[id='settings-wrapper'] {
    box-sizing: border-box;

    width: inherit;
    height: inherit;
    margin-top: 35px;

    position: fixed;
    z-index: 100;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    flex: 1 auto;
    
    overflow: hidden;

    background: var(--settings-bg);

    animation-name: settings-in;
    animation-duration: 0.75s;
}

div[id='settings-menu-container'] {
    height: 100%;
    width: 15%;
    max-width: 80px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background: var(--settings-menu-container-bg);
}

.settings-menu-item {
    margin: 50% auto;
    transition: all 0.4s;
}

.settings-menu-item:hover {
    filter: invert(1);
}

.settings-submenu {
    height: inherit;
    width: auto;

    animation-name: submenu-in;
    animation-duration: 0.5s;
} 

.typing-notification-submenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}


.settings-submenu-description {
    
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.3em;

    opacity: 0.65;

    color: var(--settings-submenu-fg);
}

.settings-theme-navigation {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}


@keyframes arrow-fade {
    /*
        css link needs to be in state since it's
        modifying the whole theme!
    */


}

.settings-navigation-arrows-container {
    display: inline;
}

.settings-navigation-arrows-container:hover {
    
}


.settings-navigation-arrows {
    height: 75px;
    filter: invert(1);

    transition: transform 0.75s;
}

.settings-navigation-arrows:hover {
    
    
    transform: scale(1.25, 1.75);
    
}

#settings-theme-view {
    max-width: 80%;

    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.85);

    opacity: 0.6;

    transition: all 0.5s;
}

#settings-theme-view:hover {
    opacity: 1;
}

/*COLOR THEME SUBMENU SETUP*/
.color-theme-submenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 auto;
    
    overflow-y: auto;
}

.settings-submenu-color-theme {
    width: 45%;
    max-width: 400px;
    
    margin: 10px;
    padding: 0.75em;
    
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 2px;
    
    text-align: center;
    border-radius: 10px;
}

/*END COLOR THEME SUBMENU SETUP*/

